<div class="container">
	<div class="row mb-5"> 
		<div class="col col-lg-2">
			<form #letterForm="ngForm" (ngSubmit)="checkLetter()" class="form w25">
				<label for="letterInput" class="form-label">Letter:</label>
				<input 
					   type="text" 
					   name="letterInput" 
					   id="letterInput" 
					   class="form-control"
					   autocomplete="off"
					   [(ngModel)]="this.letter"
					   required
					   minlength="1"
					   maxlength="1"
					   pattern="^[a-zA-Z]+$">
				<button 
					type="submit" 
					[disabled]="!letterForm.valid"
					class="btn btn-success"
					>
					Send</button>
			</form>
		</div>
		<div class="col col-lg-10">
			<canvas [width]="this.windowWidth/2" [height]="this.windowWidth/4">

			</canvas>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-6" *ngIf="this.word">
			<div *ngFor="let letter of this.word.split('')" class="letter">
				<h4 *ngIf="this.guessedLetters.includes(letter)">
					{{ letter }}
				</h4>
				<h4 *ngIf="!this.guessedLetters.includes(letter)">
					_
				</h4>
			</div>
		</div>
		<div class="col col-lg-6 wrong-letters">
			<h4>Wrong letters:</h4>
			<p *ngFor="let letter of this.wrongLetters" class="letter">
				{{ letter }}
			</p>
		</div>
	</div>
</div>
<app-play-again 
	*ngIf="won != null" 
	[won]="won" 
	[word]="word"
	(playAgain)="startGame()"></app-play-again>
